<a href="https://colab.research.google.com/github/allyreum/alone_MDL/blob/main/basic_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for beginners - Learning Coding with Python in 1 hour**
url: https://youtu.be/kqtD5dpn9C8?si=frovcc0mp-SxKVci

In [ ]:
age = 20
price = 19.95
first_name = 'Ally'
is_online = True # true, TRUE 는 boolean 아님
print(age)

20

## INPUT FUNCTION

In [ ]:
name = input('What is your name?')
print('Hello ' + name)

What is your name?A
Hello A

In [ ]:
# birth_year = input('Enter your birth year:')
# age = 2025 - birth_year
# print(age) # operand 피연산자 error
birth_year = input('Enter your birth year:')
age = 2025 - int(birth_year)
print(age)

# int() float() bool() str()

Enter your birth year:2000
25

In [ ]:
# first = input('First float or int:')
# second = input('Second float or int:')
# sum = float(first) + float(second)
# print('sum = ' + str(sum))  # error > print('sum=' + sum)

first = float(input('First:'))
second = float(input('Second:'))
print('sum = '+ str(first + second))

First:10.1
Second:20
sum = 30.1

# String

In [ ]:
course = 'Python for Beginners'
print(course.upper())
print(course)
print(course.lower())
print(course.find('y')) # index를 반환
print(course.find('Y')) # 없으면 음수반환
print(course.find('for'))
print(course.replace('for','4'))
print(course.replace('x','4'))  # replace할 게 없으면 아무것도 변환이 안됨
print(course.find('Python'))
oprint('Python' in course) # return boolean value

PYTHON FOR BEGINNERS
Python for Beginners
python for beginners
1
-1
7
Python 4 Beginners
Python for Beginners
0
True

## Operator

우선순위	연산자	설명

1	( )	괄호

2	**	지수 연산자

3	*, /, %, //	곱셈, 나눗셈, 나머지, 몫

4	+, -	덧셈, 뺄셈

5	<, <=, >, >=, !=, ==	비교 연산자

6	=, %=, /=, //=, -=, +=, =, *=	할당 연산자

7	is, is not	식별 연산자

8	in, not in	멤버십 연산자

9	not, or, and	논리 연산자

In [4]:
price = 25
print(price > 10)
print(not price > 10)

True
False

## IF statement

In [15]:
temperature = 10
if temperature > 30:
  print("It's a hot day")   # ' 아닌 "를 쓰자
  print('It is a hot day')
print('Done') # 항상 출력

if temperature > 30:
  print('hot day!')
elif temperature > 20:
  print('nice day, 한강가자!')
else:
  print('-_______-')
print('done done')

Done
-_______-
done done

In [23]:
weight = float(input('Weight: '))
unit = input('(K)g or (L)bs:').upper()

if unit == 'K':
# if unit.upper() == 'K':
  converted = weight / 0.45
  print('Weight in Kg: ' + str(round(converted,2)))
elif unit == 'L':
  converted = weight * 0.45
  print('Weight in Lbs: ' + str(round(converted,2)))
else:
  print('error')

Weight: 76
(K)g or (L)bs:k
Weight in Kg: 168.89

## While

In [26]:
i = 1
while i <= 5:
  print(i * '*')
  i = i + 1

*
**
***
****
*****

## Lists

In [36]:
names = ['김준수', '정윤호', '심창민', '김재중']
print(names[0])   # print(names)[0] 안됨!
print(names[-1])
names[0] = 'JJ'
print(names[0:3]) # end index -1
print(names)

김준수
김재중
['JJ', '정윤호', '심창민']
['JJ', '정윤호', '심창민', '김재중']

## List method

In [48]:
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)
numbers.insert(0,7)       #(index, value)
numbers.insert(0,'HOME')  #(index, value) type 상관없음
print(numbers)
numbers.remove('HOME')    # value
print(numbers)
numbers.clear()
print(numbers)
numbers = [1,2,3,4,5]
print(1 in numbers)     # return boolean value
print(10 in numbers)     # return boolean value
print(len(numbers))

[1, 2, 3, 4, 5, 6]
['HOME', 7, 1, 2, 3, 4, 5, 6]
[7, 1, 2, 3, 4, 5, 6]
[]
True
False
5

## **For Loops & Range**

In [63]:
numbers = list(range(1, 6))   # numbers = [1:5]
print(numbers)

for item in numbers:
  print(item)

# 아래말고 위처럼 쓰자!
# i = 0
# while i < len(numbers):
#   print(numbers[i])
#   i = i + 1

num2 = range(0,5)
print(num2)         # iterate over this range object using a for loop

num3 = range(5)     # 0 ~ 4
for number in num3:
  print(number)

num4 = range(5,10)  # 5 ~ 9
for number in num4:
  print(number)

[1, 2, 3, 4, 5]
1
2
3
4
5
range(0, 5)
0
1
2
3
4

## **Tuples**
: use tuples to store a sequence of objects but immutable which means we cannot change them

In [67]:
numbers = (1,2,3)
# numbers[0] = 2  : 'tuple' object does not support item assignment